<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potion Brewer</title>
    <link rel="stylesheet" href="./styles.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js" defer></script>
</head>
<body v-cloak>
    <header>
        <h1>Potion Brewer</h1>
    </header>
    <main>
        <div id="cauldron">
            <div class="storedIngredient" v-for="storedIngredient in storedIngredients" :key="storedIngredient" 
                    :style="{ left: storedIngredient.x + 'px', top: storedIngredient.y + 'px' }"
                    @mousedown="storedIngredientClicked(storedIngredient.id)">
                {{ storedIngredient.name }}
            </div>
        </div>
        <ul class="ingredients">
            <li v-for="ingredient in ingredients" @mousedown="ingredientClicked(ingredient)" :key="ingredient">
                {{ ingredient }}
            </li>
        </ul>
        <div id="activeIngredient":style="{ left: mousePos.x-96 + 'px', top: mousePos.y-21 + 'px' }" v-if="activeIngredient"
            :class="{ outside: activeIngredientOutsite }">
            {{ activeIngredient }}
        </div>
    </main>
</body>
</html>